*{
    margin: 0;
    padding: 0;
    
}
body{
    background-image: linear-gradient(to right, #2b125a, #2a0845);
    background-attachment: fixed;
}

form{
    background-image: linear-gradient(to right, );
    border: 1px solid #dddddd67;
    border-radius: 15px;
    position: absolute;
    padding: 10px;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    color: white;  
}
form h3{
    color:white ;
    font-size: 36px;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid white;
    margin-top: 10px 0 10px 0;
    font-family: 'Montserrat', sans-serif;
}
form p{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    text-align: center;
    justify-content: center;
}
input{
    padding: 6px 0px 0px 6px;
    margin: 10px 0 15px 0;
    width: 96%;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #862a2a;
    background-color: #f57b0000;
    color: wheat;
}
input::placeholder{
    color: white;
}
#button{
    width: 100%;
    background-color: #fdfcfd;
    height: 30px;
    color: black;
    border: 0;
    border-radius: 5px;
    margin-top: 10px;
    cursor: pointer;
}
#button:hover{
    background-color: #2d1046;
    transition: 1s;
    color: white;

}

footer{
    display: block;
    align-items: flex-end;
    margin-top: 42%;
    margin-left: 42%;
    color: rgb(82, 82, 82);
        
}